<div class="page-header">
    <h1>This is test Upload template!</h1>
</div>

<p>Test!</p>
<form action="/index/testUpload" enctype="multipart/form-data" method="post">
   <p>Download image</p>
    <input class="" value="here the value" type="file" name="uploadimage" id="upload_image" onchange="" />
    <input type="submit" value="Upload Image" name="submit">
 </form>